/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'ARS Maquette','Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
}


.center {
    text-align: center;
}


/* BLACK NAV BAR */


.nav-top-row {
    display: none;
}

@media (min-width: 768px) {
    .nav-top-row {
        background: #131313;
        display: block;
        font-size: 13px;
        font-weight: 300;
        color: rgba(255,255,255,.6);
        line-height: 32px;
        max-height: 32px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        list-style: none;
        padding-right: 20px;
        margin-left: -36px;
    }

    .nav-top-row li {
        display: inline-block;
        margin-left: 16px;
    }
}



/* Below 768 px display:none */

.nav-right {
    float: right;
}


/* LOGO */

.logo-container {
    display: none;
}

@media (max-width: 767px) {
    .logo-container {
        height: 50px;
        display: block;
    }

    .logo {
        max-height: 100%;
        max-width: 100%;
    }

    .toggle {
        max-height: 100%;
        max-width: 100%;
    }
}


/* WHITE NAV RIBBON */

.ribbon {
    display: none;
}

@media (min-width: 768px) {
    .ribbon {
        background: #ffffff;
        display: block;
        height: 45px;
        font-size: 14px;
        font-weight: 300;
        color: rgba(157, 157, 157, 0.6);
        line-height: 32px;
        min-height: 32px;
        overflow: hidden;
        /*position: relative;*/
        z-index: 3;
        list-style: none;
        padding-right: 20px;
        margin-left: -36px;
    }

    .ribbon li {
        display: inline-block;
        margin-left: 16px;
        text-transform: uppercase;
    }
}

/* YELLOW MESSAGE RIBBON */

.message-ribbon {
    background: #fd3;
    line-height: 30px;
    padding-left: 18px;
    font-size: 13px;
    margin-top: -13px;
}


/* MAIN SECTION */

.main {
    margin-top: -18px;
    padding-bottom: 40px;
}

/* HEADLINES SECTION */

.main-headlines {
    margin: 0 auto;
    padding: 4px;
    position: relative;
}

.headline {
    float: left;
    overflow: hidden;
    /*padding: 4px;*/
    position: relative;
    width: 100%;
}

.lazy {
    -moz-transition: ease .4s;
    -o-transition: ease .4s;
    -webkit-transition: ease .4s;
    transition: ease .4s;
    opacity: 0;
    will-change: opacity;
}

.lazy.lazyLoaded {
    opacity: 1;
}

.cover-image {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    bottom: 4px;
    left: 4px;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}

.cover-header {
    bottom: 4px;
    left: 4px;
    padding: 14px 12px;
    position: absolute;
    right: 4px;
    z-index: 3;
}


.main-headlines:after {
    content: "";
    display: table;
    clear: both;
}

/* BELOW HEADLINES */


.cf {
    clear: both;
}


@media (min-width: 1600px) {
    .main-headlines {
        height: 60vh;
    }
}

@media (min-width: 1024px) {

    .main-headlines {
        height: 75vh;
        max-height: 560px;
    }

    .cover--grid3 article {
        float: left;
        height: 50%;
        width: 33.33%;
    }

    .cover--grid3 article:nth-child(1) {
        height: 100%;
        width: 66.66%;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {

    .main-headlines {
        height: 60vh;
    }

    .cover--grid3 article {
        float: left;
        height: 50%;
        width: 33.33333%;
    }

    .cover--grid3 article:nth-child(1) {
        height: 100%;
        width: 66.66666%;
    }

}


@media (max-width: 767px) {
    .main-headlines article {
        min-height: 30vh;
        position: relative;
    }

}

/* LATEST */

.latest-section {
    margin-bottom: 4em;
}

@media(max-width: 767px) {
    .latest-section {
        margin-bottom: 1em;
    }
}

.sec-title {
    color: #f42;
    padding: 10px;
}

.latest-list-story {
    margin: 10px;
}

/* 8 LATEST STORIES TEMPLATE */

.u-row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    list-style: none;
}


@media (min-width: 1024px) {
    .latest-story {
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .latest-story {
        -webkit-flex-basis: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.story-title {
    margin: 15px 6px;
}

.story-byline {
    margin-top: 11px;
    color: #aaa;
    font-size: 13px;
}


/* MAGAZINE SECTIONS */

.section-lists {
    list-style: none;
    margin: 0;
    padding: 10px;
}

@media (min-width: 1024px) {
    .mag-section {
        -webkit-flex-basis: 33%;
        flex-basis: 33%;
        max-width: 33%;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .mag-section {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
}






/* INVESTMENTS SECTION */

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

.investment-header {
    overflow: hidden;
}





/* FOOTER */

.footer {
    text-align: center;
}

.footer-links {
    padding: 3em 0em 2em 0em;
    background: #131313;
}

.footer-social-links {
    list-style: none;
    margin-bottom: 1.5em;
}

.footer-social-links li {
    display: inline-block;
    margin: 0 8px;
}

.footer-social-links li a {
    background: #333;
    border-radius: 50%;
    display: block;
    height: 22px;
    padding: 12px;
    text-align: center;
    width: 22px;
}

.social-link {
    font-size: 1.2em;
    color: #fcfcfc;
}

.footer-links-menu li {
    font-family: Shentox,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    color: #aaa;
    line-height: 24px;
    margin: 0 4px;
}

@media (min-width: 768px) {
    .footer-links-menu {
        margin: 0 6px;
    }
}



/* FOOTER LEGAL */

.footer-legal {
    background: #000;
    color: #aaa;
    font-size: 13px;
    padding: 3em 0;
}

.footer-legal span {
    display: block;
}

@media ( min-width: 768px ) {
    .footer-legal span {
        display: inline;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
